<div class="container content">
	<div class="row">
		<div class="col-md-6 offset-md-3">
			<span class="anchor" id="formAddElement">
			</span>
			<!--form card login with validation feedback -->
			<div class="card card-outline-secondary">
				<div class="card-header">
					<h3 class="mb-0">Agregar elementos</h3>
				</div>
				<div class="card-body">
					<form>
						<div class="form-group">
							<label for="nombre">Nombre</label>
							<input type="text" class="form-control" id="nombre" placeholder="Ingresar nombre..." #nombre>
						</div>
						<div class="form-group">
							<label for="descripcion">Descripción</label>
							<input type="text" class="form-control" id="descripcion" placeholder="Ingresar descripción..." #descripcion>
						</div>
						<button type="submit" class="btn btn-secondary" (click)="agregar(nombre.value, descripcion.value)">Agregar</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<hr class="mb-5">
	<ul class="list-group">
		<app-elemento *ngFor="let e of elementos" [elemento]="e"></app-elemento>
	</ul>
</div>